[Unit]
Description=WAD-Selector
After=syslog.target network.target mariadb.service

[Service]
Type=simple
User=apache
Group=apache
WorkingDirectory=/opt/WAD_Services/WAD_Selector/dist
ExecStart=/usr/bin/java -Xmx512m -Xrs -jar WAD_Selector.jar

[Install]
WantedBy=multi-user.target
